---
name: "uyuni"
services:
  uyuni-master-ephemeral:
    tty: true
    privileged: true
    hostname: uyuni.ephemeral.local
    cgroup: host
    # Build the container from the Dockerfile before we run it
    build:
      context: ./
      dockerfile: Dockerfile
    network_mode: "bridge"
    tmpfs:
      - /run
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - "../..:/workspaces/uyuni:cached"
      - "/sys/fs/cgroup:/sys/fs/cgroup:rw"
      # Mount your ~/.ssh folder into the container
      # for Authenticating to Github
      - "~/.ssh:/home/uyuni/.ssh"
      # For GPG Auth to Github
      - "~/.gnupg:/home/uyuni/.gnupg"
    working_dir: "/workspaces/uyuni"
    environment:
      - GPG_TTY=/dev/pts/1
