version: '3.8'

services:
  uyuni-dev:
    image: ghcr.io/mbussolotto/uyuni/devcontainer:latest
    command: /usr/sbin/init
    stop_signal: SIGRTMIN+3
    privileged: true
    cgroup: host
    tmpfs:
      - /run
      - /run/lock
    volumes:
      - ../../:/workspaces/uyuni:cached
      - /var/run/docker.sock:/run/podman/podman.sock
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    user: uyuni
    links: 
      - db
      - uyuni-server
  db:
    image: registry.opensuse.org/systemsmanagement/uyuni/master/docker/containers/uyuni-master-pgsql-4eclipse
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ../../:/manager:cached
  uyuni-server:
    image: ghcr.io/mbussolotto/uyuni/devcontainer:latest
    command: /bin/sh -c "sleep infinity"
    privileged: true
    cgroup: host
    tty: true
    hostname: uyuni.ephemeral.local
    ports:
      - "443:443"   # UI HTTPS
      - "80:80"     # UI HTTP
      - "4505:4505" # Salt
      - "4506:4506" # Salt
      - "8001:8001" # Taskomatic Debug
      - "8002:8002" # Search Server Debug
      - "8003:8003" # Tomcat Debug
    volumes:
      - ./setup-ephemeral.sh:/root/setup.sh
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - ../../:/workspaces/uyuni:cached
      - /var/run/docker.sock:/run/podman/podman.sock
