version: '3.8'

services:
  uyuni-dev:
    build:
      context: .
      dockerfile: Dockerfile
    command: /bin/sh -c "while sleep 1000; do :; done"

    volumes:
      - ../../:/workspaces/uyuni:cached
    ports:
      - "8001:8001"
      - "8002:8002"
      - "8003:8003"
    user: uyuni
    links: 
      - db
  db:
    image: registry.opensuse.org/systemsmanagement/uyuni/master/docker/containers/uyuni-master-pgsql-4eclipse
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ../../:/manager:cached
